/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/**** FONTS ****/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,500,600,600italic,700,800);
@font-face {
    font-family: 'zona_pro';
    src: url('/fonts/ZonaPro-Bold.otf');
}

.h1 {
    font-size: 24px;
}
.h2 {
    font-size: 20px;
}
.h3 {
    font-size: 18px;
}
.h4 {
    font-size: 16px;
    
}

/**** SITE WIDE ****/
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  /*background-color: #e0dccf;*/
  background-color: #f1f0ee;
}
textarea {
    height: auto;
}

.active {
  color: #e74c3c !important;
}
.active:hover  {
  color: #f9f9f9 !important;
}

.error {
    color: red;
}


#main-container {
    margin-top: 20px;
}

#main-container div {
/*    margin-top: 10px;
    margin-bottom: 10px;*/
}
.add-top-margin {
    margin-top: 10px;
}
.add-bottom-margin {
    margin-bottom: 10px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #c63f38;
    background: #e74c3c;
    font-weight: normal;
    color: #fff;
}

.ui-icon-background, .ui-state-active .ui-icon-background {
    border: #68110d;
    background-color: #fff;
}
.ui-spinner {
    width: 70px;
}

.section-label {
    color: #68110d;
    font-weight: bold;
}
.red {
    background-color: red;
}
.white {
    background-color: white;
}
.yellow {
    background-color: yellow;
}