/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2017, 10:48:37 AM
    Author     : cknyaz
*/

  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #007fff; }
  #selectable .ui-selected { background: #007fff; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 80%; }
  #selectable li { margin: 8px; font-size: 0.9em; }
  
  #spinner-1 input {width: 50px}
  #spinner-2 input {width: 50px}
  #spinner-3 input {width: 50px}
