/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2017, 9:22:54 AM
    Author     : cknyaz
*/
/*
#dropdown{
    position: relative;
    display: inline-block;
}

#dropdown select{
    display: none;
}
#select-list {
    position: absolute;
    background-color: #000\9;
    min-width: 160px;
    z-index: 1;
}

*/
option.avatar {
    background-repeat: no-repeat !important;
    height:30px;
    width: 200px;                    
}
.avatar .ui-icon {
    background-position: center;
    height:30px;
    width: 200px; 
}

.w1  {
  font-size: 5px;
  background-repeat: repeat;
  position: static;
  
}

.w2  {
  font-size:8px;
  background-repeat: repeat;
  display: inline-block;
  position: static;
}

.w3 {
  font-size: 11px;
  background-repeat: repeat;
  display: inline-block;
  position: static;
}

.w4 {
  font-size: 14px;
  background-repeat: repeat;
  display: inline-block;
  position: static;
}

.w5 {
  font-size: 17px;
  background-repeat: repeat;
  display: inline-block;
  position: static;
}

.w6 {
  font-size: 20px;
  background-repeat: repeat;
  display: inline-block;
  position: static;
}

.grayout {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
/*
#feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
  */